<div *ngIf="fullPlotFilmInfo; else loading" class="px-3">
  <div class="row mb-3">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <img [src]="fullPlotFilmInfo.Poster" alt="" class="img-thumbnail" />
    </div>
    <div class="col">
      <h2>{{ fullPlotFilmInfo.Title }} ({{ fullPlotFilmInfo.Year }})</h2>
      <p>
        <app-fav-btn [imdbID]="imdbID"></app-fav-btn>
        {{ fullPlotFilmInfo.Runtime }} | {{ fullPlotFilmInfo.Genre }} |
        {{ fullPlotFilmInfo.Released }} | {{ fullPlotFilmInfo.Rated }}
      </p>
      <br />
      <p>Director: {{ fullPlotFilmInfo.Director }}</p>
      <p>Writer: {{ fullPlotFilmInfo.Writer }}</p>
      <p>Stars: {{ fullPlotFilmInfo.Actors }}</p>
      <br />

      <p *ngFor="let item of fullPlotFilmInfo.Ratings">
        {{ item.Source }}: {{ item.Value }}
      </p>
      <p>
        Imdb rating: {{ fullPlotFilmInfo.imdbRating }} ({{
          fullPlotFilmInfo.imdbVotes
        }}
        votes)
      </p>
      <p>
        {{ fullPlotFilmInfo.Awards }}
      </p>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <h4>Storyline:</h4>
      <p>{{ fullPlotFilmInfo.Plot }}</p>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary mb-3" type="button" disabled>
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      Loading...
    </button>
  </div>
</ng-template>
