<div class="px-3">
  <app-search-bar
    (search)="searchFilms($event)"
    (titleChange)="searchTitle = $event"
  ></app-search-bar>
  <app-films-list
    *ngIf="
      searchResults.Response && !searchResults.Error;
      else nothingToDisplay
    "
    [filmsList]="searchResults.Search"
  ></app-films-list>

  <ng-template #nothingToDisplay>
    <h4 *ngIf="searchResults.Error">
      {{ searchResults.Error }}
    </h4>
    <h4 *ngIf="currentPage == 0">
      Type any title first :)
    </h4>
  </ng-template>

  <ngb-pagination
    class="d-flex justify-content-end"
    [collectionSize]="searchResults.totalPages"
    [pageSize]="1"
    [page]="currentPage"
    (pageChange)="pageChange($event)"
    [maxSize]="5"
    [boundaryLinks]="true"
  ></ngb-pagination>
</div>
