<div class="px-3">
  <app-search-bar
    (search)="searchFilms($event)"
    (titleChange)="searchTitle = $event"
  ></app-search-bar>
  <app-films-list
    *ngIf="currentPage != 0 && !searchResults.Error; else nothingToDisplay"
    [filmsList]="searchResults.Search"
  ></app-films-list>

  <ng-template #nothingToDisplay>
    <h4 *ngIf="searchResults.Error">
      {{ searchResults.Error }}
    </h4>
    <h4 *ngIf="currentPage == 0">
      Type any title first :)
    </h4>
  </ng-template>

  <ngb-pagination
    *ngIf="searchResults.totalPages"
    class="d-flex justify-content-end"
    [collectionSize]="searchResults.totalPages"
    [page]="currentPage"
    (pageChange)="pageChange($event)"
    [maxSize]="3"
    [rotate]="true"
    [boundaryLinks]="true"
  ></ngb-pagination>
</div>
